<h1>Hello from the article page</h1>
<blockquote class='twitter-tweet'>
	<p lang='en' dir='ltr'>
		German FM: I will put Ukraine first “no matter what my German voters think”
		or how hard their life gets. <a href='https://t.co/GwAqIZ2jL7'
			>pic.twitter.com/GwAqIZ2jL7</a
		>
	</p>&mdash; Ignorance, the root and stem of all evil (@ivan_8848) <a
		href='https://twitter.com/ivan_8848/status/1565067553671626760?ref_src=twsrc%5Etfw'
		>August 31, 2022</a
	>
</blockquote>
<script async src='https://platform.twitter.com/widgets.js' charset='utf-8'
></script>

<blockquote class='twitter-tweet'>
	<p lang='en' dir='ltr'>
		as a developer, what enables you to go faster?
	</p>&mdash; Heather Thacker (@hhthacker) <a
		href='https://twitter.com/hhthacker/status/1564671192656748547?ref_src=twsrc%5Etfw'
		>August 30, 2022</a
	>
</blockquote>
<script async src='https://platform.twitter.com/widgets.js' charset='utf-8'
></script>
