@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');

:root {
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
	--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

	--main-font: 'Playfair Display', serif;

	--main-blue: hsl(223, 31%, 33%);
	--color-text: hsl(222, 19%, 20%);
	--color-bg: hsl(0, 0%, 93%);
	--color-border: hsl(17, 24%, 90%);
	--main-gradient: linear-gradient(
		270deg,
		#222325 0%,
		#2a303e 33.67%,
		#3a496f 101.54%
	);
	--color-white: #faf7f7;
	--color-white-hover: #d4d0d0;

	/* UTOPIA FLUID TYPES */
	--step--2: clamp(0.56rem, calc(0.75rem + -0.26vw), 0.69rem);
	--step--1: clamp(0.7rem, calc(0.89rem + -0.26vw), 0.83rem);
	--step-0: clamp(0.88rem, calc(1.05rem + -0.24vw), 1rem);
	--step-1: clamp(1.09rem, calc(1.24rem + -0.21vw), 1.2rem);
	--step-2: clamp(1.37rem, calc(1.47rem + -0.14vw), 1.44rem);
	--step-3: clamp(1.71rem, calc(1.74rem + -0.04vw), 1.73rem);
	--step-4: clamp(2.07rem, calc(2.05rem + 0.12vw), 2.14rem);
	--step-5: clamp(2.49rem, calc(2.42rem + 0.35vw), 2.67rem);
	--step-6: clamp(2.99rem, calc(2.85rem + 0.69vw), 3.34rem);
	--step-7: clamp(3.58rem, calc(3.35rem + 1.15vw), 4.17rem);

	/* SPACING */

	--max-width-uni: clamp(100px, 95vw, 1000px);

	/* SCREEN SIZES */
	--mobile-screen: 400px;
	--tablet-screen: 720px;
	--desktop-screen: 1180px;
	--xl-screen: 1400px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: var(--main-font);
	font-size: var(--font-size-base);
	color: var(--color-text);
	background-color: var(--color-white);
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a,
input {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

:global(h1) {
	font-size: var(--font-size-xl);
}

:global(h2) {
	font-size: var(--font-size-lg);
}

:global(code) {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
