---
import { urlFor } from '../../client/builders';

const { astroClass, node } = Astro.props;
---

<div class='img-container'>
	<img
		class={`article-img ${astroClass}`}
		src={urlFor(node).quality(100).format('webp').url()}
		alt={node.altText ?? `Image related to article (alt text missing, sorry)`}
	/>
	<p class='caption'>{node.caption}</p>
</div>

<style>
	.article-img {
		width: 100%;
		object-fit: contain;
	}

	.img-container {
		height: auto;

		display: flex;
		flex-direction: column;
		padding-top: 0.5rem;
		margin-bottom: 1rem;
	}

	.caption {
		font-style: italic;
		font-size: var(--step--2);
		text-align: center;
		padding-top: 0.4em;
	}

	@media (min-width: 400px) {
		.article-img {
			object-fit: cover;
			margin-bottom: 0rem;
		}
	}

	@media (min-width: 650px) {
		.article-img {
			aspect-ratio: 1/1;
		}
		.img-container {
			width: clamp(12rem, 50%, 100%);
		}
		.img-container:nth-child(even) {
			float: right;
			padding-left: 1rem;
		}
		.img-container:nth-child(odd) {
			float: left;
			padding-right: 1rem;
		}
	}

	@media (min-width: 720px) {
		.article-img {
			aspect-ratio: 16/11;
		}
		.img-container {
			width: clamp(12rem, 45%, 100%);
		}
	}
</style>
