---
interface Props {
	astroClass: string;
}

const { astroClass } = Astro.props as Props;
---

<h3 class={`heading-three ${astroClass}`}><slot /></h3>

<style>
	.heading-three {
		color: var(--color-text);
		font-size: var(--step-2);
		margin-bottom: var(--heading-space-400);
	}
</style>
