---
interface Props {
	astroClass: string;
}

const { astroClass } = Astro.props as Props;
---

<p class={`paragraph ${astroClass}`}><slot /></p>

<style>
	.paragraph {
		color: var(--color-text);
		font-size: var(--step-0);
		margin-bottom: 0.8em;
		padding-right: 0em;
	}
</style>
