---
import YouTube from 'react-youtube';
import getYouTubeId from 'get-youtube-id';

const { astroClass, node } = Astro.props;
const id = getYouTubeId(node.url);
---

<!-- <div class={`video-center ${astroClass}`}> -->
<YouTube videoId={id} client:visible />
<!-- </div> -->

<style>
	.video-center {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		margin-bottom: 50px;
	}

	.video-center iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
</style>
