---
import YouTube from 'react-youtube';
import getYouTubeId from 'get-youtube-id';
import ReactPlayer from 'react-player';
import { YouTubeEmbed } from './YouTubeEmbed.tsx';

const { astroClass, node } = Astro.props;
const id = getYouTubeId(node.url);
---

<div class={`video-center ${astroClass}`}>
	<YouTubeEmbed id={id} client:load />
</div>

<style>
	.video-center {
		position: relative;
		width: min-content;
		margin-inline: auto;
	}

	.video-center iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
</style>
